.userWishlist__container {
  overflow-x: hidden;
  overflow-y: initial;

  .userWishlist__background {
    height: 14rem;

    .userWishlist__background-picture {
      width: 100%;
      height: 100%;
    }
  }

  .userWishlist__about {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--kado-space-4) var(--kado-space-12) 0;

    .userWishlist__profile {
      display: flex;

      .userWishlist__profilePicture {
        width: var(--kado-sizes-32);
        height: var(--kado-sizes-32);
        background-color: var(--white);
        border: var(--kado-border-4px) var(--white);
        border-radius: var(--border-radius-full);
        margin-top: calc(var(--kado-space-16) * -1);

        .userWishlist__profilePicture-img {
          border-radius: var(--border-radius-full);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .userWishlist__profile-description {
        margin-inline-start: var(--kado-space-4);
        display: flex;
        flex-direction: column;

        > span {
          display: flex;
          padding-bottom: var(--kado-space-2);
        }

        .userWishlist__profile-description-name {
          font-size: var(--kado-fontSizes-2xl);
        }

        .userWishlist__profile-description-username {
          font-size: var(--kado-fontSizes-sm);
          color: var(--secondary-color);
        }
      }
    }
  }

  .userWishlist__wishlist {
    padding: 0 var(--kado-space-12);
    display: flex;
    flex-direction: column;

    .userWishlist__listOptions {
      display: flex;
      list-style-type: none;
      justify-content: center;
      padding: var(--kado-space-2-half) 0;

      .userWishlist__listOptions-option {
        padding: var(--kado-space-1) var(--kado-space-4) 0;
        display: flex;
        align-items: center;

        span {
          margin-left: var(--kado-space-1);
        }
      }
    }

    .userWishlist__wishlist-text {
      display: flex;
      flex-direction: column;
      padding: var(--kado-space-2-half) 0;
      border-top: var(--kado-border-1px) var(--border-color);
      border-bottom: var(--kado-border-1px) var(--border-color);
  
      .userWishlist__subTitle {
        font-size: var(--kado-fontSizes-sm);
        padding: var(--kado-space-1-half) var(--kado-space-2-half);
        font-style: italic;
      }
    }

    .userWishlist__wishlistTitle {
      margin-top: var(--kado-space-5);
      margin-left: calc((100vw - 3rem * 2 - 250px * 4 - 1.5rem * 3) / 2);
      margin-bottom: var(--kado-space-4);
      display: flex;

      .userWishlist__wishlistTitle-text {
        font-size: var(--kado-fontSizes-xl);
      }
    }


    .userWishlist__wishlist-items {
      display: grid;
      grid-template-columns: repeat(4, 250px);
      grid-gap: var(--kado-space-6);
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  .userWishlist__container {
    .userWishlist__wishlist {
      .text {
        margin-left: calc((100vw - 3rem * 2 - 250px * 3 - 1.5rem * 2 ) / 2);
      }

      .userWishlist__wishlist-items {
        grid-template-columns: repeat(3, 250px);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .userWishlist__container {
    .userWishlist__wishlist {
      .userWishlist__wishlistTitle {
        margin-left: calc((100vw - 3rem * 2 - 250px * 2 - 1.5rem ) / 2);
      }

      .userWishlist__wishlist-items {
        grid-template-columns: repeat(2, 250px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .userWishlist__container {
    .userWishlist__about {
      padding: var(--kado-space-4);
      flex-direction: column;

      .userWishlist__socials {
        margin-top: var(--kado-space-2);
      }
    }

    .userWishlist__wishlist {
      padding: 0 var(--kado-space-4);

      .userWishlist__wishlistTitle {
        margin-left: calc((100vw - 1rem * 2 - 250px * 2 - 1.5rem) / 2);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .userWishlist__container {
    .userWishlist__wishlist {
      .userWishlist__wishlistTitle {
        margin-left: calc((100vw - 1rem * 2 - 250px) / 2);
      }

      .userWishlist__wishlist-items {
        grid-template-columns: repeat(1, 250px);
      }
    }
  }
}