.register__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.register__companyLogo {
  display: flex;
  margin-bottom: var(--kado-space-5);

  > img {
    height: 5rem;
  }
}

.register__form {
  width: 100vw;
  max-width: min(100%, 350px);
  display: flex;
  flex-direction: column;
  padding: var(--kado-space-6);

  .register__form-title {
    font-size: var(--kado-fontSizes-3xl);
  }
}

.register__form-container {
  .register__form-fieldContainer {
    margin: var(--kado-space-2) 0;

    input {
      padding: var(--kado-space-2) var(--kado-space-1);
    }

    .register-errorText {
      margin-top: var(--kado-space-1);
    }
  }

  .register__form-button {
    margin-top: var(--kado-space-4);
  }
}