.register__container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.register__image, .register__form {
  height: 100vh;
  width: 50vw;
}

.register__image {
  img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .register__container {
    flex-direction: row;

    .register__image img {
      width: 100vw;
      height: 50%;
    }
  }
  
}