.header__container {
  position: fixed;
  width: 100%;
  top: 0;
  padding: var(--kado-space-2) var(--kado-space-4);
  border-bottom: var(--kado-border-1px) var(--border-color);
  display: flex;
  justify-content: space-between;
  background-color: var(--white);

  .header__left {
    display: flex;
    align-items: center;
    font-size: var(--kado-fontSizes-3xl);

    .header__left-logo {
      height: var(--kado-sizes-12);
    }

    .header__left-name {
      margin-left: var(--kado-space-2);
    }
  }

  .header__right {
    display: flex;
    align-items: center;

    .header__cart {
      font-size: var(--kado-fontSizes-2xl);
      margin-left: var(--kado-space-1-half);
    }
  }
}