$header-background-color: #232f3e;

.header__container {
  background-color: $header-background-color;
  color: var(--white);
  position: sticky;
  width: 100%;
  top: 0;
  padding: var(--kado-space-2) var(--kado-space-4);
  display: flex;
  justify-content: space-between;

  .header__left {
    display: flex;
    align-items: center;
    font-size: var(--kado-fontSizes-3xl);

    .header__left-logo {
      height: var(--kado-sizes-12);
    }

    .header__left-name {
      margin-left: var(--kado-space-2);
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    font-size: var(--kado-fontSizes-xl);
    line-height: 1.5;

    > * {
      padding: var(--kado-space-1-half) var(--kado-space-2-half);
      cursor: pointer;
    }

    .header__options {
      text-decoration: none;
      color: inherit;
    }

    .header__options:hover {
      padding: calc(var(--kado-space-1-half) - 1px) calc(var(--kado-space-2-half) - 1px);
      border: var(--kado-border-1px) var(--white);
    }

    .header__right-cart-container {
      display: flex;
      align-items: center;
      font-size: var(--kado-fontSizes-3xl);
    }
  }
}