.header__container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 8px 16px;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  background-color: white;

  .header__left {
    display: flex;
    align-items: center;
    font-size: 1.75rem;

    .header__left-logo {
      height: 3rem;
    }

    .header__left-name {
      margin-left: 8px;
    }
  }

  .header__right {
    display: flex;
    align-items: center;
  }
}