.wishlistCard__container {
  display: inline-block;

  .wishlistCard__image-container {
    width: 250px;
    height: 250px;
  }

  .wishlistCard__image {
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  .wishlistCard__button {
    width: 100%;
    padding: 0.3rem 0.6rem;
    background-color: #FFD814;
    border-color: #FCD200;
    border-radius: 0.5rem;
  }
}