* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TODO: change font family */
body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
